.NavbarItems{
    background: linear-gradient(45deg, rgb(15, 15, 15) 50%, rgba(212, 126, 21, 0.822) 100%);
    /* background: linear-gradient(90deg, rgb(58, 39, 233) 50%, rgb(86, 79, 211) 100%); */
    height: 90px;
    padding: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color:#fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    color: orange;
}
.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width:70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    color:white;
    text-decoration: none;
    padding:0.5rem 1rem;
    transition: 1s ease-out;
}

.nav-links:hover{
    background: rgb(0, 0, 0);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars{
    color: #fff;
}
.fa-bars:hover{
    opacity: 0.5;
    transition: 0.5s linear;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

@media  screen and (max-width: 960px) {
    .NavbarItems {
        position:relative;
    }

    .nav-menu{
        display :flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left:-100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color: #030303;
        border-radius: 0;
    }
    .navbar-logo{
        position:absolute;
        top:0;
        left:0;
        transform: translate(25%,50%);
    }
    .menu-icon {
        display:block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin:2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        text-decoration: none;
        color:white;
        font-size: 1.5rem;
    }
    
    .nav-links-mobile:hover{
        background: white;
        color: #6568f4;
        transition: 250ms;
        transition: 1s ease-out;
    }

    Button{
        display: none;
    }

}