.title{
    text-align: center;
}
.bandlogoglow{
    height:400px;
    width:600px;
    margin-left: 35%;
}
.bandmembernames{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homepage{
    background-color: ;
}